html {
  background-color: #fceed1;
  color: #343232e9;
  font-family: Verdana, "Times New Roman", Tahoma, sans-serif;
}

a {
  color: #7d3cff;
}

.header {
  text-align: center;
}

body div#intro {
  text-align: center;
}

ul,
ol {
  text-align: justify;
}

.animated-gif {
  width: 700px;
  height: auto;
}

#animated {
  width: 400px;
  height: auto;
}

.food.image {
  width: 800px;
  height: auto;
}